

.Beginning {
  background-color: rgba(128, 128, 128, 0.07);
  position: absolute;
  height: 100%;
  width:100%;
}

.about {
  text-align: center;
  font-family: Helvetica;
  margin-bottom: 2px;
  padding-bottom: 2%;
}

/* This div contains all 4 tabs at the top */

#title {
  border-bottom: 1px solid #aaa;
  height:min-content;
  display: flex;
  padding: 0 2rem 0 2rem;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 1%;
}

/* shipping return buttton */

.shipping-returnsBtn {
  text-align: center;
  font-weight:100;
  position: relative;
  padding: 8px 12px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.shipping-returnsBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.shipping-returnsBtn:active {
  border-bottom: 3px solid rgb(204, 0, 0);
  font-weight: bold;
}

/* .shipping-returnsBtn:focus {
  color: red;
} */

/* details Button */

.details-Btn {
  text-align: center;
  font-weight:100;
  position: relative;
  padding: 8px 12px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.details-Btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.details-Btn:active {
  border-bottom: 3px solid rgb(204, 0, 0);
  font-weight: bold;
}

/* label info button */

.label-infoBtn {
  text-align: center;
  font-weight:100;
  position: relative;
  padding: 8px 12px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.label-infoBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.label-infoBtn:focus-within {
  border-bottom: 3px solid rgb(204, 0, 0);
  font-weight: bold;
}

/* QA button */

.QA-btn {
  text-align: center;
  font-weight:100;
  position: relative;
  padding: 8px 12px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.QA-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* when tab is selected, it changes className to active */

.active {
  border-bottom: 3px solid rgb(204, 0, 0);
  font-weight: bold;
}


#shipping-return {
  font-family:Arial, Helvetica, sans-serif;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: white;
  margin: 16px;
  padding: 4px;
  height: fit-content;
  font-size: 14px;
  box-sizing: inherit;
  display: block;
}

/* Details Tab */

.highlights {
  font-family:Arial, Helvetica, sans-serif;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: white;
  margin: 16px;
  padding: 4px;
  height: fit-content;
  font-size: 14px;
  box-sizing: inherit;
  display: block;
  line-height: 1.4285;
  color: rgb(51, 51, 51);
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}


.specanddescript {
  font-family:Arial, Helvetica, sans-serif;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: white;
  margin: 16px;
  padding: 4px;
  height: fit-content;
  font-size: 14px;
  box-sizing: inherit;
  display: block;
}

.specanddescript h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#specifications {
  list-style-type: none;
  margin-left: 1%;
  padding-left: 0pt;
}

#specifications li {
  border-bottom: 1px solid #aaa;
  padding: 4%;
  padding-left: 0%;
}

#description {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  outline: 0px;
  box-sizing: inherit;
  display: block;
  font-size: 14px;
  line-height: 1.4285;
  color: rgb(51, 51, 51);
}

.specs {
  /* box-sizing: border-box; */
    /* display: flex; */
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin-left: initial;
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
    flex: 0 0 auto;
    border-right-color: inherit;
    flex-direction: row;
    padding-left: 3px !important;
    padding-right: 12px !important;
}

#viewQuestionBtn {
  background-color: rgb(255, 255, 255);
  border-color: rgb(136, 136, 136);
  color: rgb(51, 51, 51);
  position: relative;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    padding: 0px 12px;
    font-family: "Helvetica for Target", HelveticaForTarget, Targetica, "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    margin: 0px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    touch-action: manipulation;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
}

#askQuestionBtn {
  padding-top: 1%;
  background-color: rgb(204, 0, 0);
  border-color: rgb(204, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: relative;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    padding: 0px 12px;
    font-family: "Helvetica for Target", HelveticaForTarget, Targetica, "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    font-style: normal;
    font-weight: nor
}

.label-info {
  font-family: Arial, Helvetica, sans-serif;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: white;
    margin: 16px;
    padding: 4px;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 14px;
    box-sizing: inherit;
    display: block;
}

#top-label {
  border-bottom: 1px solid rgb(136, 136, 136);
}

#answerBtn {
  background-color: rgb(255, 255, 255);
  border-color: rgb(136, 136, 136);
  color: rgb(51, 51, 51);
  position: relative;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    padding: 0px 8px;
    font-family: "Helvetica for Target", HelveticaForTarget, Targetica, "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    margin: 0px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    touch-action: manipulation;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
}

.answerBtn {
  padding-bottom: 1%;
  border-bottom: 1px solid rgb(136, 136, 136);
}

.nutrition {
  padding-left: 3%;
}

#nutrition-value {
  list-style-type: none;
  margin-left: 1%;
  padding-left: 0pt;
}

#nutrition-value li {
  border-bottom: 1px solid #aaa;
  padding: 4%;
  padding-left: 0%;
}

.nutrition p{
  border-bottom: 3px solid rgb(165, 165, 165);
}